# Add here the relative paths of the directories/files to ignore.
.*
Data/Raw/*
Data/Compute/*
Data/Plot/04*
Data/Plot/06*
Data/Plot/08*
Data/Plot/10*
Data/Plot/12*
Data/Plot/23*
Data/Plot/30*
Data/Plot/43*
Scripts/Processed/LogATOS/*
